@layer components {

    .__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        box-sizing: border-box;
        vertical-align: middle;

        color: var(--primary-color);
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.25rem;

        padding: 0.75rem 1rem;
        border: 1px solid var(--primary-color);
        border-radius: 0.75rem;
        min-width: 13rem;

        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 1rem;

        outline: none;
        cursor: pointer;

        transition: color 0.2s ease-out, background 0.2s ease-out;
    }

    .__button:disabled {
        cursor: default;
        background-color: #bababa !important;
        border-color: #bababa !important;
    }
    .__button .__svg {
        transform: scale(1.15);
    }

    .__button.--green {
        color: #ffffff;
        background-color: var(--green-color);
        border-color: var(--green-color);
    }

    .__button.--green:hover {
        background-color: hsl(from var(--green-color) h s calc(l - 5));
    }

    .__svg {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        height: 1em;
        width: 1em;
        transition: all 0.2s ease-out;
    }


    .__waiting.is-waiting:after{
        content: '';
        display: inline-block;
        animation: dots 2s steps(4, end) infinite;
        white-space: pre;
        text-align: left;
        width: 1em;
    }

    @keyframes dots {
        0%   { content: ""; }
        25%  { content: "."; }
        50%  { content: ".."; }
        75%  { content: "..."; }
        100% { content: ""; }
    }

}